{% extends 'core/base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block background %}{% static 'core/img/hans.png' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>I don't know who you are. I don't know what you want. If you are looking for ransom, I can tell you I don't have money.
        But what I do have are a very particular set of skills, skills I have acquired over a very long career,
        skills that make me a dream for people like you.</p>
        <br>
        <p><b>Teléfono:</b> +54 11 4085-8167</p>
        <p><b>Mail:</b> lautarojimeno@gmail.com</p>
        <p><b>Twitter: </b><a href="https://twitter.com/LautiJimeno">Lauti Jimeno</a></p>
    </div>
</div>
{% endblock %}